[2018-02-12 15:55] gkertaseferi opened #5 "Peer Review"
1.what you'll learn
The metadata of the metrics in any scope has a unit, type, description and other things. --> any scope has fields such as unit, type, description and many more.

2.Adding metrics to
As you can see, there are two metrics annotations. They are: --> delete They are??
As you can see, there are two metrics annotations:

3.testing
testListCount() sends a request to /inventory/systems

[2018-02-13 16:31] Ahmad-Ayyoub commented on #5
Fixed and pushed to master

[2018-02-13 18:01] #5 closed

[2018-02-14 04:14] evelinec opened #6 "Peer/Content review"
- [x] The "Getting started" section/heading is missing
[Ahmad says that It is not missing, it is replaced by this link:
https://raw.githubusercontent.com/OpenLiberty/guides-common/master/gitclone.adoc]

- [x] "Running the tests" is a sub-heading

- [x] After you add "Try what you'll build", you can remove all the links in the "What you'll learn" section. See the cdi guide for example.

- [x] Chang

[2018-02-14 05:03] evelinec commented on #6
Also consider these 2 points for the guide, if not already done so:

- [ ] Add a sentence or two after the test results saying what change a user can make to force the tests to fail. But don't be too explicit where to make this change. At this point in the guide, the users should have learned enough to make code changes themselves. It also gives them a good opportunity to debug if they have troubl

[2018-02-14 18:17] evelinec commented on #6
Continue review on 2/13's draft:

- [ ] The keyStore and quickStartSecurity configurations elements => I think the quickStartSecurity should be mentioned before the keyStore, as in the same order as in the xml file. It'd be easier to follow.

- [ ] allow you to add a basic security setup for the purpose of this guide => perhaps "allow you to add a basic security to this application"?

- [ ] Use th

[2018-02-15 15:08] #6 closed

[2018-02-15 19:15] raymondlam opened #8 "Review Comments"
- [x] `/metrics` also supports JSON format depending on the accept header.

  Should be...

  _MicroProfile Metrics provides endpoints where you can get the metrics results as a plain text format or JSON format. These endpoints have three scopes..._

- [x] There are different ways of instrumenting an application: Injection, Annotations, and using the MetricRegistry directly. This guid focuses on u

[2018-02-15 20:29] evelinec opened #9 "User review"
Based on 2/15's draft:
- [x] Under "Try what you'll build" section, between "Point to http://localhost:9080/metrics MicroProfile Metrics endpoint. Use confAdmin and microprofile as the credentials to log in." Probably good to add a line to have user click the Advanced button to proceed.

- [x] Create start/src/main/liberty/config/server.xml => the liberty/config folder isn't there under start dire

[2018-02-15 20:41] raymondlam commented on #8
- [ ] Also, the actual endpoint for `/metrics` is under https. The readme references `http://localhost:9080/metrics` or `http://localhost:9080/metrics/application` which automatically redirects to their secure counterpart. eg. `https://localhost:9443/metrics`

[2018-02-15 22:04] evelinec commented on #9
The guide works user test wise. The above mentioned issues aren't urgent for now.

[2018-02-16 15:56] jamiecoleman92 commented on #8
Thank you @raymondlam for doing the user review.

[2018-02-20 21:04] evelinec commented on #8
@jamiecoleman92 I believe this is SME review rather than user.

[2018-02-20 21:20] #9 closed

[2018-02-20 21:45] Ahmad-Ayyoub commented on #8
Resolved here: https://github.com/Ahmad-Ayyoub/draft-guide-microprofile-metrics/commit/52efb5f18c709e64af543ffcc69e021b39e56dd4 and here : https://github.com/Ahmad-Ayyoub/draft-guide-microprofile-metrics/commit/ba6344d41a09157ae5cecd79f243e560b78fab40

[2018-02-21 16:10] #8 closed

[2018-02-23 14:56] lauracowen opened #11 "Explanation of @Counted annotation is a bit confusing"
Specifically, I think it's confusing to include explanation of what it means when `monotonic` is `false` when that scenario is not discussed at all in this guide. I think that wouldn't matter if the concept were simple to explain but it needs more explanation and context than we can or should include in this guide. So I suggest changing the following paragraph:

"@Counted is a metric annotation th

[2018-02-23 14:58] lauracowen opened #12 "Provide example output from the metrics"
I think the guide should provide (a small amount) of example output from each of the metrics that are enabled on the app. Otherwise, it's hard to know whether you've got it right or not. Not too much (ie don't take up too much space) because you can go run the sample to see it in full, of course. See what works.

[2018-02-23 20:55] Ahmad-Ayyoub commented on #9
Fixed here: https://github.com/OpenLiberty/draft-guide-microprofile-metrics/pull/13

[2018-02-23 22:12] Ahmad-Ayyoub commented on #11
absolute -> gives the annotation the name of the method.
name -> gives the annotation the name specified by you.

Two reasons for adding absolute:
1- The other two annotations have weak method names (`get` and `getTotal`, so adding absolute will not be useful, however, giving them a good name using `name` attribute is helpful i believe) but `list()` method at least describing a bit what the method

[2018-02-23 22:12] Ahmad-Ayyoub commented on #12
Fixed here: https://github.com/OpenLiberty/draft-guide-microprofile-metrics/pull/13/commits/51e92ab854e7acb211d53c405035e55eab38d406

[2018-02-26 19:35] #12 closed

[2018-02-28 14:12] lauracowen commented on #12
@Ahmad-Ayyoub (sorry I couldn't get to this until now) Would it be possible to put the output (or an obviously abbreviated version of the output) in monospaced text (like the output of the test section) instead of as an image? This is for accessibility reasons - you can increase text easier than a .png - but also because I think there's no real reason to do it as an image, except for the font size

[2018-02-28 14:27] lauracowen opened #15 "Bulleted lists need lead-in sentences and to have parallel items"
The bulleted lists that describe the attributes on the annotations need to have lead-in sentences introducing them. In some cases the sentence is there and just needs a colon (:) instead of the current full-stop/period (.). In other cases, there might need to be a sentence added or the lead-in sentence tweaking slightly so that it is obviously introducing the bulleted list (otherwise there's no co

[2018-02-28 14:32] lauracowen commented on #11
Fair enough. I understand the reason for including the `name` field as long as the example code has good naming. I don't disagree with including `absolute` as long as it's clear what it does. But currently, the explanation of `absolute` makes it sound like it does the same as the default value of `name`. I don't think that's correct. According to the spec, the `absolute` attribute, when `true`, st

[2018-02-28 17:26] sishida commented on #15
I created a pull request for changes here: https://github.com/OpenLiberty/draft-guide-microprofile-metrics/pull/16

[2018-03-01 16:13] #11 closed

[2018-03-02 17:40] sishida commented on #15
I merged the changes into master. I am closing this issue.

[2018-03-02 17:40] #15 closed

[2018-03-06 16:54] yeekangc opened #19 "Fix metrics output under Try what you'll build"
[code]

We shouldn't show the output this way with the dots.

[2018-03-06 17:38] yeekangc opened #20 "Issues with Metrics guide"
- Rephrase the below to use "microservices" and "services" instead of "RESTful application" or "RESTful services" to be consistent with the other guides and the title/abstract of the guide.
 "Application" can still be used if appropriate and the context is right.

Should go over the whole guide and edit where appropriate.

_You will learn how to use MicroProfile Metrics to provide metrics from a R

[2018-03-06 17:38] yeekangc commented on #20
Tagging @sishida for her awareness from a content/critical review standpoint.

[2018-03-06 22:00] Ahmad-Ayyoub commented on #20
Resolved Here: https://github.com/OpenLiberty/draft-guide-microprofile-metrics/pull/21

[2018-03-06 22:00] Ahmad-Ayyoub commented on #19
Resolved here: https://github.com/OpenLiberty/draft-guide-microprofile-metrics/pull/21

[2018-03-09 06:06] evelinec opened #22 "Review on the 3/8's draft"
- [x] You will use MicroProfile Metrics to provide endpoints where => the word "provide" is not right here. Perhaps, "MicroProfile Metrics have endpoints where.."

- [x] The application scope is the focus for inventory application. => The application scope is the focus for the inventory application.

- [x] Maven builds the application and runs it inside of Open Liberty. => Maven builds the applica

[2018-03-09 06:14] evelinec commented on #22
- [ ] When the server runs, navigate to the following URL to find the metrics endpoint that shows JVM and server base details:
=>
Point your browser to the `https://localhost:9443/metrics` URL to find the metrics that shows JVM and server base details. (remove the url bullet)

- [ ] After you point your browser to http://localhost:9080/inventory/systems, you can find specific metrics about your ap

[2018-03-09 06:19] evelinec commented on #22
- [ ] Clean up imports in code, ie, get rid off empty spaces

- [ ] There's hard coded url in the test case:
private List<String> getMetrics() {
    Response metricsResponse = client.target("https://localhost:9443/metrics/application")

- [ ] The following list describes the test cases that you can run: => These are the break down of the test cases:

[2018-03-09 06:24] evelinec commented on #22
- [ ] The inventory grows in size because of the request. => The inventory size increases because of the request.

- [ ] The getHostCount() method in the InventoryManager class returns one host, which represents the localhost. The request then asserts the host with the validateMetric() method.
=> this not clear

[2018-03-09 06:24] evelinec commented on #22
- [ ] Test result needs to be updated after adding the additional endpoint tests.

[2018-03-09 06:25] evelinec commented on #22
@gkertaseferi and @Ahmad-Ayyoub can work together on this.

[2018-03-11 21:01] evelinec commented on #22
Tested the logic of the application metrics outputs; basically, the inventory/systems URL needs to be visited once to show any application metrics. So putting the following 2 statements together makes the most sense.

- [ ] To see only the application metrics, point your browser to https://localhost:9443/metrics/application. Because these metrics are application-related, you had to point first to

[2018-03-11 21:04] evelinec commented on #22
This one is not being addressed correctly:

- [ ] Navigate to the pom.xml file. In the start/pom.xml file, you can find the microprofile-health-api dependency. Select this dependency to use the MicroProfile Metrics API to provide metrics from your microservices. Also, the javax.net.ssl.trustStore system property is set to point to the SSL certificate.
=> repeated and incorrect info: the first two

[2018-03-11 21:08] evelinec commented on #22
- [ ] Test result is not showing up

[2018-03-12 18:22] sishida commented on #22
What is "previously" describing in this sentence? "Because these metrics are application-related, you have to point to the http://localhost:9080/inventory/systems URL previously, otherwise they will not appear."
Do you need to point to the URL first before you can see the metrics? If so, I would say, "first point to the ... URL so that the metrics appear."

For your last comment, I would edit as f

[2018-03-13 03:20] evelinec commented on #22
- [ ] To see only the application metrics, point your browser to https://localhost:9443/metrics/application. Because these metrics are application-related, you have to point to the http://localhost:9080/inventory/systems URL previously, otherwise they will not appear.
=> reworked with feedback from @sishida, what about:
To see only the application metrics, point your browser to https://localhost:9

[2018-03-13 03:24] evelinec commented on #22
- [ ] Take @sishida suggestion with small edit for this one:
"The MicroProfile Metrics API was added as a dependency to your pom.xml file. Look for the dependency with the `org.eclipse.microprofile.metric` group ID. This feature allows you to use the MicroProfile Metrics API to provide metrics from your microservices."
=> FYI, you do not need these "Navigate to the pom.xml file. In the pom.xml fil

[2018-03-13 14:51] Ahmad-Ayyoub commented on #22
Fixed accordingly

[2018-03-13 14:57] Ahmad-Ayyoub commented on #20
@yeekangc can you close this ?

[2018-03-13 14:58] Ahmad-Ayyoub commented on #19
@yeekangc can you close this if possible ?

[2018-03-13 15:36] donbourne opened #26 "minor bugs found in review of lab"
change:
    if true, it makes the counter counts the total invocation of the annotated method. if false, it makes the counter counts the current invocation of the annotated method. In another words, it makes the counter increase only when the annotated method is called and decrease when it returns

to:
    if true, the counter counts the number of invocations of the annotated method. If false, the

[2018-03-13 16:40] Ahmad-Ayyoub commented on #26
Fixed however, for last point, this should be raised at openliberty/guides-common, since we are using a link file for that

[2018-03-13 17:27] yeekangc commented on #19
Why do we need to show 3 blocks, @Ahmad-Ayyoub?

[2018-03-13 18:42] #22 closed

[2018-03-13 18:45] Ahmad-Ayyoub commented on #19
this is what we discussed me and @evelinec. better than dots.

[2018-03-13 18:54] evelinec commented on #19
Each block shows the different output from the 3 annotations. @yeekangc

[2018-03-13 19:46] yeekangc commented on #19
Then, let us clarify which block is for what.  Otherwise, I don't see a need for 3 blocks if it is only to illustrate or provide a sample for what users may see.

[2018-03-13 19:48] Ahmad-Ayyoub commented on #19
So something like->

Output results for @Timed annotation:
(output)

Output results for @Gauge annotation:
(output)

Output results for @Counted annotation:
(output)

What do you think @yeekangc @evelinec ?

[2018-03-13 19:51] yeekangc commented on #19
Yes, "Sample output results for `@Timed` annotation" ... Something like that that is simple and clean.

You may need to update the sentence below to say "See sample output results below".

[2018-03-13 19:52] Ahmad-Ayyoub commented on #19
as @sishida said, we can not use the pointers words like "below and "above"

[2018-03-13 19:59] Ahmad-Ayyoub commented on #19
@yeekangc @evelinec @sishida
What do you think?

<img width="1340" alt="screenshot 754" src="https://user-images.githubusercontent.com/29547519/37366707-945e7578-26d7-11e8-8dde-471ea64a88ee.png">

[2018-03-13 20:05] sishida commented on #19
How about this?
The following example shows sample output results for the @Timed annotation:

[2018-03-13 20:06] Ahmad-Ayyoub commented on #19
I think it is too long.

[2018-03-13 20:06] evelinec commented on #19
Hm, I don't really like adding the headings for each boxes.. I'd say rework this sentence a bit:
"See some of the metrics output:" => ""See sample outputs for the @Timed, @Gauge and @Counted annotations:"

[2018-03-13 20:07] Ahmad-Ayyoub commented on #19
I agree with @evelinec

[2018-03-13 20:09] sishida commented on #19
IBM Style likes a comma after the second to last item in a series:
"See sample outputs for the @Timed, @Gauge, and @Counted annotations:"

[2018-03-13 20:11] Ahmad-Ayyoub commented on #19
@yeekangc any suggestions ?

[2018-03-13 20:44] donbourne commented on #26
verified.

[2018-03-13 20:44] #26 closed

[2018-03-13 21:57] yeekangc commented on #19
Looks fine ... I will take a look at the latest and submit a PR with the changes for everyone to review.

[2018-03-14 16:18] yeekangc commented on #19
What is in #27 works for this.  Closing.

[2018-03-14 16:18] #19 closed

[2018-03-14 21:08] yeekangc commented on #20
@Ahmad-Ayyoub @evelinec @sishida, please review #28.

[2018-03-14 21:26] yeekangc opened #29 "Implementation issues"
Configuration:

- SSL configuration isn't proper.  We shouldn't need to override the trust store with a JVM property but use standard Open Liberty server configuration to do so.  (Consult @JunyiSun or JWT guide if necessary.)

Tests:

- [x] Improve the names of the tests:  testGetPropertiesTime(), testListCount() and testInventorySize().  For instance, something like testPropertiesRequestTimeMetri

[2018-03-15 17:18] yeekangc commented on #20
Resolved with #28.

[2018-03-15 17:18] #20 closed

[2018-03-15 19:36] JunyiSun opened #30 "Issues from user testing"
- "Log in as the `confAdmin` user with microprofile as the password." Why is `confAdmin`? is it taken from somewhere? can we rename it? **[Yes, we can change it in the next revision.]**

- (Not really an issue, but just feel that we can do better) Those properties looks really long: `io_openliberty_guides_inventory_inventory_manager_inventory_size`
`io_openliberty_guides_inventory_inventory_manage

[2018-03-15 19:45] yeekangc commented on #30
If it is "a test", then "any assertion" will do.  If you want multiple tests, obviously, assertions.

[2018-03-15 19:46] evelinec commented on #30
@Ahmad-Ayyoub can you handle these two?

- [ ]  "To see whether the tests detect a failure, go to the MetricsTest.java file and change any assertion in the validateMetric() method. Rerun the Maven build. A test failure occurs. "
    should be assertions? => I guess it'd be "any of the assertions"?

- [ ] "create a src/test/java/it/io/openliberty/guides/metrics/MetricsTest.java test class"
    shou

[2018-03-15 19:56] Ahmad-Ayyoub commented on #30
Fixed the two issues above

[2018-03-15 19:59] yeekangc commented on #30
There is nothing wrong with "any assertion".  I can see the 2nd issue being fixed but it still isn't ideal.

[2018-03-16 03:29] yeekangc opened #31 "Use mpMetric-1.1"
Use the latest level of the feature, which should be 1.1, with 18.0.0.1.

[2018-03-16 17:22] yeekangc commented on #31
@Ahmad-Ayyoub, please address this today.  Thank you.

Check out https://github.com/OpenLiberty/guide-microprofile-config/pull/57 or consult @JunyiSun if necessary.

[2018-03-19 14:39] evelinec commented on #29
@JunyiSun Assign to Junyi to start working on it today.

[2018-03-20 16:16] Ahmad-Ayyoub commented on #30
Fixed first point here: https://github.com/OpenLiberty/guide-microprofile-metrics/pull/33

[2018-03-20 16:17] Ahmad-Ayyoub commented on #30
For second point, we can not change that.

[2018-03-20 16:20] yeekangc commented on #30
We should be able to simplify these:

io_openliberty_guides_inventory_inventory_manager_get_properties_time
io_openliberty_guides_inventory_inventory_manager_get_properties_time_rate_per_second

This is perhaps absolute comes in.  We should look into this further.

[2018-03-20 16:31] Ahmad-Ayyoub commented on #30
True, we can add a combination of `name` and `absolute` field. See how it looks:

<img width="1031" alt="screenshot 765" src="https://user-images.githubusercontent.com/29547519/37668333-9b6fc552-2c3a-11e8-9a64-7849393b6a20.png">

[2018-03-20 16:35] yeekangc commented on #30
Right, this can be handled as a separate issue since it involves more than just a quick fix.  We should work it out and address it comprehensively since it will involve changes elsewhere and in the guide too.  But, it is something to consider to make the guide and the solution better.

[2018-03-20 16:36] Ahmad-Ayyoub commented on #30
This is after we added the combination for both gauge and time

<img width="957" alt="screenshot 766" src="https://user-images.githubusercontent.com/29547519/37668589-3f7c607e-2c3b-11e8-98e9-db977dfa193a.png">

[2018-03-21 14:58] Ahmad-Ayyoub commented on #30
The team discussed and we agreed on the last screenshot.

[2018-03-21 15:24] yeekangc commented on #30
Yes, I am for a clearer and more concise version too.

Then, I think we can further improve the properties names.  This relates to feedback in the other issues that we have.  So, please look into it further.

For example, we should prefix the properties with say inventory or system for clearer identification.

[2018-03-21 15:34] Ahmad-Ayyoub commented on #30
so get_properties_time -> inventory_get_properties_time ?
and list -> inventory_list ?

[2018-03-21 16:22] yeekangc commented on #30
We should make the naming scheme consistent.  And, this should be done in conjunction and in consideration of the relevant issues noted in #29 too.

[2018-03-21 16:32] Ahmad-Ayyoub commented on #30
Like this:

<img width="648" alt="screenshot 768" src="https://user-images.githubusercontent.com/29547519/37723045-c6234d72-2d03-11e8-9e61-b23c4c678f0f.png">

?

[2018-03-21 16:35] yeekangc commented on #30
Yes, that's closer to where we want to be.  Do we need the rate_per_second?

[2018-03-21 16:36] Ahmad-Ayyoub commented on #30
this is from the metrics implementation, what is shown here is the string needed to test that metric

[2018-03-21 16:37] Ahmad-Ayyoub commented on #30
<img width="764" alt="screenshot 769" src="https://user-images.githubusercontent.com/29547519/37723341-8fc4cbd8-2d04-11e8-8fd3-bef2a94826a7.png">

[2018-03-21 18:11] Ahmad-Ayyoub commented on #30
See: https://github.com/OpenLiberty/guide-microprofile-metrics/pull/33/commits/a5138590ec117e818f1160b7d38d54d171f9a8a9

[2018-03-26 18:52] Ahmad-Ayyoub commented on #31
@yeekangc shall we close this ?

[2018-03-26 18:53] Ahmad-Ayyoub commented on #30
@JunyiSun
Shall we close this ?

[2018-03-27 14:45] JunyiSun commented on #30
okay

[2018-03-27 14:45] #30 closed

[2018-04-02 14:57] JunyiSun commented on #29
After more research on the first issue, the current server configuration is fine. And the configuration of the JVM property `javax.net.ssl.trustStore` in the pom.xml file is only used for the integration test, not the main code. And it's a common practice according to our research.

References:
https://stackoverflow.com/questions/5871279/java-ssl-and-cert-keystore

[2018-04-02 14:57] #29 closed

[2018-04-19 15:58] mbroz2 opened #35 "Remove REST tag from guide"
Although the sample uses REST, the guide itself doesn't teach the user anything about it so we should not tag it as such.

[2018-05-11 18:18] JunyiSun opened #36 "Navigation"
Get rid of "Now, navigate back to the start directory to begin." under "Try what you'll build" section.

Move the sentence with this context "navigate to the start directory" to the section where user starts working with the implementation.

[2018-06-05 19:12] #35 closed

[2018-06-08 15:33] Ahmad-Ayyoub opened #42 "Ignore this issue"

[2018-06-08 16:15] #42 closed

[2018-06-15 11:49] yeekangc opened #44 "SystemClient is not thread safe"
The current implementation of SystemClient and how it is initialized has concurrency issues.  It will break when multiple calls come in for different systems.

_There is one instance for all REST calls and the first thing that happens is init gets called which updates shared state._

[2018-06-18 17:34] evelinec commented on #44
I believe the PR #39 fixes this issue.

[2018-06-25 18:45] evelinec commented on #44
This will be resolved once PR #39 is merged.

[2018-07-19 19:46] evelinec commented on #44
Resolved.

[2018-07-19 19:46] #44 closed

[2018-07-23 09:24] scottcurtis2605 opened #48 "Security Exceptions in Chrome/Firefox/Safari"
In the 'getting started' section, after navigating to the 'finish' directory and running the Maven command to start the server, the application metrics URL ('https://localhost:9443/metrics/application') causes a security exception in all three browsers. This does not occur with any of the other URLs in other guides.

While this is easy to bypass, it may be worth mentioning in the guide for less ex

[2018-07-24 19:59] evelinec commented on #48
I thought there was such message in the guide before. @andrewdes can you take a look and fix.

[2018-08-14 16:49] gkwan-ibm opened #50 "Update the guide for new metrics in 18.0.0.3"
We should add a part to tell users to view/retrieve JVM metrics by https://localhost:<port>/metrics/base

Also, add a new part to teach users to view/retrieve Liberty metrics by https://localhost:<port>/metrics/vendor when enable mpMetrics-1.1 and monitor-1.0
[code]

[2018-08-27 19:23] andrewdes opened #54 "mpMetrics version out of date in README.adoc"
In the **Adding MicroProfile Metrics to the inventory service** section there is a sentence that states:

But, in the `server.xml` it is actually `mpMetrics-1.1`. This sentence should be updated to stay consistent with the version of mpMetrics used in the `server.xml`

[2018-08-27 20:20] evelinec commented on #54
We probably want to make it generic when mentioning the feature.

[2018-08-28 13:37] justineechen commented on #54
https://github.com/justineechen/guide-microprofile-metrics/commit/db4acffc6c6c18f97817d3948ccc69b2063d3874

[2018-08-28 18:37] evelinec commented on #54
@justineechen can you create a PR for this fix?

[2018-08-30 13:49] andrewdes commented on #54
@evelinec, @justineechen already merged the PR and the change is reflected on the Open Liberty website.

[2018-08-30 13:49] #54 closed

[2018-09-04 00:38] justineechen opened #58 "Add an optional section to guide to enable monitoring for Liberty server"
Insert an optional section before Building and running the application.
- Add <feature>monitor-1.0</feature> to the server.xml in finish
- Tell users to point their browser to https://localhost:9443/metrics/vendor and see the output

[2018-09-05 19:50] justineechen opened #60 "Add a section to tell users to view/retrieve JVM metrics by https://localhost:/metrics/base"
Tell users to go to `https://localhost:/metrics/base` in order to see System metrics only

[2018-09-05 19:51] justineechen commented on #60
PR for change: https://github.com/OpenLiberty/guide-microprofile-metrics/pull/57

[2018-09-06 15:55] justineechen commented on #60
Update is live on `openliberty.io/guides/microprofile-metrics.html`

[2018-09-06 15:55] #60 closed

[2018-10-11 13:38] yeekangc opened #64 "Improve test coverage?"
https://github.com/OpenLiberty/open-liberty/issues/5355 was reported indicating that `@Counted` failed with 18.0.0.3.

It did not appear that this was caught by the tests we have here.  We do have `@Counted` and a test for it too.

Should investigate what's going on and then work out what (more) needs to be done.

[2018-10-19 19:12] evelinec commented on #48
Assign to @justineechen to see to double check with 18003.

[2018-10-22 19:22] justineechen commented on #48
The security exception still occurs after 18003, this is the same security exception in Security Guide when users need to be authenticated.

[2019-01-02 20:33] ismartspace opened #65 "Multipane Issue"
### Checklist for Review
**Through the browser:**
- [x] Read over guide and run through all commands (copy and paste using browser etc..)
- [x] Test the actual application (use it, hit endpoints, etc.)
- [x] No files in the middle panel (guide section)
- [x] Appropriate files are being displayed on the right hand side at the right time
- [ ] Any mention of code in the right panel should be hot spo

[2019-01-03 21:46] ismartspace commented on #65
- [ ] `name` from the description of `absolute` is not hot spotted
- [ ] maven-liberty-plugin version not removed in pom.xml

[2019-01-04 18:36] justineechen commented on #65
### Checklist for Post-Review
**Through the browser:**
- [ ] Read through guide, making sure that the flow of the guide is good
- [ ] Click all links to make sure they lead to the correct place
- [ ] Make sure hotspots, code_commands and files are correct
- [ ] Run Acrolinx

[2019-02-11 21:39] evelinec opened #69 "Recent daily build tests failed with SSL exception"
Test error: https://www.travis-ci.org/OpenLiberty/guide-microprofile-metrics/builds/491516493

Tests run: 1, Failures: 0, Errors: 0, Skipped: 0, Time elapsed: 1.681 sec - in it.io.openliberty.guides.system.SystemEndpointTest
Running it.io.openliberty.guides.metrics.MetricsTest
Feb 11, 2019 8:44:18 AM org.apache.cxf.phase.PhaseInterceptorChain doDefaultLogging
WARNING: Interceptor for {https://loca

[2019-02-11 21:43] evelinec commented on #69
Info from Alaine:

Liberty change it's default keystore to a key.p12 file of type PKCS12 (more secure and compatible keystore type).   Your pom file specifies a key.jks file that does not get created anymore, and it suggest that you set it up with jvm trusttore system property.    To use a PKCS12 file there you will need the correct keystore, type, and password in your pom file.   But in your case

[2019-02-12 20:39] evelinec commented on #69
#70 fixed the guide to continue to use the JKS keystore. Keeping this issue open to change to the new default PKCS12 keystore.

[2019-02-13 19:47] gkwan-ibm opened #71 "multipane issues"
- [x] found `[window="_blank"]` after many URLs
- [x] following urls not open new tab
  - http://localhost:9080/inventory/systems/localhost
- [x] should format server.xml
`  <httpEndpoint host="*" httpPort="${default.http.port}" httpsPort="${default.https.port}" id="defaultHttpEndpoint"/>`
- [x] there is a colon at Create...
`src/main/java/io/openliberty/guides/inventory/InventoryManager.java:` an

[2019-02-13 20:23] justineechen commented on #71
https://github.com/OpenLiberty/guide-microprofile-metrics/commit/edb86b8e4d6b6dad8bf1de7b3fc548e0646b8798

[2019-02-14 18:43] #71 closed

[2019-03-11 15:37] #65 closed

[2019-04-15 16:25] yeekangc commented on #58
Duplicate of #50.

[2019-04-15 16:25] #58 closed

[2019-08-13 15:23] yeekangc opened #77 "Confusion re login credentials to access metrics endpoint"
Few users missed the username and password that they should use to access the metrics endpoint when they "try what you'll build" even if it has been noted in the guide:

```Next, point your browser to the http://localhost:9443/metrics MicroProfile Metrics endpoint. Log in as the admin user with adminpwd as the password. You can see both the system and application metrics in a text format.```

Need

[2019-08-16 13:50] gkwan-ibm commented on #77
We can consider not to use authentication for metrics by setting `<mpMetrics authentication="false"/>`

[2019-09-16 21:13] gkwan-ibm commented on #77
- wording

[2019-10-07 16:14] DannyS03 opened #85 "Peer Review: mpMetrics-2.0"
Peer Review: review to be done by a peer member.

- [x] Check that the guide has working instructions and sample code
- [x] Check the quality of code according to the best coding practices
- [x] Check the quality and presentation of guide according to [Structure and Style Guideline](https://github.com/OpenLiberty/draft-guides-template/wiki/Guidelines-for-Structure-and-Styles)
- [x] Check the consi

[2019-10-07 18:14] DannyS03 commented on #85
## **Appearance:**
**Inventory.java**
- [ ] perhaps some spacing in between annotations and methods

<img width="762" alt="image" src="https://user-images.githubusercontent.com/25497083/66329787-21073080-e8fd-11e9-9874-1c355ebc346c.png">

- [ ] hotspot `@Timed` includes extra spaced line from the top

<img width="762" alt="image" src="https://user-images.githubusercontent.com/25497083/66329735-fe7

[2019-10-07 18:54] DannyS03 commented on #85
**Adding the annotations**
- [ ] url should be highlighted

```Apply the @Counted annotation to the list() method to count how many times the http://localhost:9080/inventory/systems URL is accessed monotonically, which is counting up sequentially.```

[2019-10-07 19:44] evelinec commented on #85
All hotspot issues are addressed in https://github.com/OpenLiberty/guide-microprofile-metrics/pull/84/commits/4beb6ca598a1ee10f739b538ac3bea0ae5794351. @DannyS03 you can refresh the `lgdev` site on a browser to see the changes.

The annotation is meant to be attached to a method, so they can't be separated.

Other writing styles were from the original guide. We'll have ID to review them again.

Th

[2019-11-07 19:44] evelinec opened #90 "Pre-Publishing Tests"
Pre-Publishing Tests: since the latest change includes the dev mode conversion, the tests are to be done on all 3 platforms. See PR #89  for the detail of the changes and use the `qa` staging site for testing.

Windows - Danny:
- [x] Check appearance (contents, headings, paragraphs, code snippets, outputs, links, hotspots) of the guide on test site, ie, draft-guides
- [x] Read through the guide
-

[2019-11-08 16:55] evelinec opened #91 "The escape char is not showing up on the UI"
The test class has the following line of code that uses escape char:

`1 <= Integer.parseInt(metric.split("\\s+")[metric.split("\\s+").length - 1]));`

It shows up on the ol.io UI as:

`1 <= Integer.parseInt(metric.split("\s+")[metric.split("\s+").length - 1]));`

On Linux, the later causes a code compilation error.

[2019-11-08 16:56] evelinec commented on #91
@steven1046 @gkwan-ibm @NimG98 FYI

[2019-11-08 16:57] evelinec commented on #90
Ref #91 for test issue on Linux.

[2019-11-08 17:28] NimG98 commented on #91
The above is code is appearing correctly on the lgdev site as (\\s+).

But is showing up incorrectly as (\s+) on the QA site
https://qa-guides.mybluemix.net/guides/microprofile-metrics.html#testing-the-metrics

[2019-11-11 16:48] ankitagrawa opened #92 "Instructions not clear after you run mvn liberty:dev"
After you run mvn liberty:dev command the current bash stops for your input. This is confusing for new users as whether to press enter on the bash or open a new terminal and proceed with the steps.

[2019-11-11 21:20] evelinec commented on #92
@gkwan-ibm @NimG98 FYI

[2019-11-11 21:22] evelinec commented on #92
Also want to add that using the `q` + `enter` to quit dev mode may also be miss-leading for when we run the `mvn liberty:run` command as well, where the `q` option isn't available. Suggest to use `Ctrl+C` across the entire guide (if there's no issues).

[2019-11-11 21:23] evelinec commented on #90
Ran `diff` command and there are differences that are require for dev mode.

[2019-11-11 21:24] evelinec commented on #90
Team decoded not to update the release date.

[2019-11-11 21:50] evelinec commented on #50
Fixed in #84

[2019-11-13 18:59] evelinec commented on #85
Addressed one more feedback through ID review. Others aren't changed. Seems clear.

[2019-11-13 19:00] evelinec commented on #85
@DannyS03 can you review? Thanks.

[2019-11-13 19:01] evelinec commented on #90
Use #91 to track the remaining issue. Close this one.

[2019-11-13 19:01] #90 closed

[2019-11-13 19:25] DannyS03 commented on #85
Changes look good!

[2019-11-13 19:45] steven1046 commented on #91
I'm still looking into why this could be different on the QA environment. By the time the MetricsIT.java code gets loaded into html in the browser it already has one of the backslashes missing so it's not javascript that is doing this. And both environments have the same version of asciidoctor. I'm still lost as to why it is different but I'll keep looking.

[2019-11-13 20:03] evelinec commented on #85
Thanks.

[2019-11-13 20:03] #85 closed

[2019-12-10 18:46] evelinec commented on #69
The original problem was fixed. New issue can be open if needed for the future. Closed.

[2019-12-10 18:46] #69 closed

[2019-12-10 18:52] #50 closed

[2020-02-28 20:18] #92 closed

[2020-03-10 18:29] gkwan-ibm opened #101 "Update to mpMetrics-2.3"
- update the server.xml to use `mpMetrics-2.3`
- update the content if necessary, because `monitor-1.0` will be included by `mpMetrics-2.3`,
  - e.g. remove the `monitor-1.0` from server.xml
  - update the README.adoc

[2020-03-20 17:34] gkwan-ibm commented on #91
temporary updated the guide by
`Integer.parseInt(metric.split(" ")[metric.split(" ").length - 1]));`
when this issue can be fixed by UI, the guide should be restored to
`Integer.parseInt(metric.split("\\s+")[metric.split("\\s+").length - 1]));`

[2020-03-30 15:52] Emily-Jiang commented on #101
update the java code to demonstrate `@SimplyTimed`

[2020-04-08 09:09] Joseph-Cass commented on #48
I'm running into this issue on Chrome, and the `Visit this unsafe site` option seems to have been removed in a Chrome update so I can't access the URL at all...

[2020-04-08 16:06] yeekangc commented on #48
Thanks, @Joseph-Cass.  We will take a look.

[2020-04-08 17:09] Joseph-Cass commented on #48
Thanks @yeekangc :) I have made a PR with one potential solution #102

[2020-04-08 17:26] Joseph-Cass opened #103 "`Adding MicroProfile Metrics to the inventory service` section improvement"
In the `Adding MicroProfile Metrics to the inventory service` section the guide takes the user through converting `start/.../InventoryManager.java` into `finish/.../InventoryManager.java`.

However, initially the two `InventoryManager.java` files look very different.

Should the method's bodies contain all the correct code so that the user can simply add on the metrics annotations?

Currently, if

[2020-04-13 14:50] gkwan-ibm commented on #101
- dev in progress
- update the mp 3.3, jupiter, dependencies version

[2020-04-14 15:08] gkwan-ibm commented on #101
- ready for dev content review

[2020-04-15 14:41] gkwan-ibm commented on #101
- addressing  dev content review feedback

[2020-04-15 20:10] gkwan-ibm commented on #103
hi @Joseph-Cass

Thank you for the suggestion.

We did consider to ask users to update the code step by step at a time but we found it doesn't work well because of the following reasons. (Not only for this guide but in other guides too)
- Hard to clearly describe the instruction
- even the instruction is clear, users may easy to make typo error or place code in wrong place
- too much instructions

[2020-04-16 10:03] Joseph-Cass commented on #103
Okay that's fine, I understand your points.

I think updating update `start/.../InventoryManager.java` will still be valuable however. It highlights that the important part of this step is adding the annotation, not implementing the methods.

As a suggestion for all of the guides, I really do think manually adding the MicroProfile annotations should be as straight forward as possible, if the user

[2020-04-21 14:36] ankitagrawa commented on #101
- addressed Gilbert's feedback.

[2020-05-05 20:48] #101 closed

[2020-07-02 19:20] #103 closed

[2020-09-21 11:45] scottcurtis2605 opened #119 "Broken Link [404] - Vendor Metrics Refernce List"
In the enabling vendor metrics for the microservices section of the guide (https://openliberty.io/guides/microprofile-metrics.html#enabling-vendor-metrics-for-the-micorservices), the link which directs toward the 'Metrics reference list' is broken. This currently directs to: https://openliberty.io/docs/20.0.0.9/metrics-catalog.html.

It seems this page has either moved to the following link, which

[2020-09-21 11:46] scottcurtis2605 opened #120 "Typo - Enabling Vendor Metrics"
In the 'Enabling vendor metrics for the microservices' section of the guide, 'microservices' is misspelt within the heading of this section. This currently reads as 'Enabling vendor metrics for the **micorservices**', rather than **microservices**.

[2020-09-28 08:43] austin0 commented on #119
https://github.com/OpenLiberty/guide-microprofile-metrics/pull/118 has been merged to fix this.

[2020-09-28 08:43] #119 closed

[2020-10-06 17:17] #120 closed

[2020-11-25 12:06] Emily-Jiang opened #130 "Update to use Metrics 3.0"

[2020-12-08 17:32] gkwan-ibm commented on #91
pending a fix for https://github.com/OpenLiberty/openliberty.io/issues/1975

[2021-01-12 17:42] gkwan-ibm commented on #130
hi @Channyboy

After I read the UFO, I found no need to update [the existing guide](https://openliberty.io/guides/microprofile-metrics.html) for the MP metric 3.0 except to align the server.xml to use `mpMetrics-3.0`.

If you have different opinion, would you suggest us which new change may add into the existing guide?

Thanks

[2021-01-12 20:12] Channyboy commented on #130
@gkwan-ibm Correct. With the current content you only need to update with the feature version.

[2021-01-13 22:13] mbroz2 commented on #91
Looks like the issue is in the minifier (https://github.com/octopress/minify-html) but unfortunately it doesn't seem like it's being actively maintained anymore (though we can certainly try and open an issue).
We're also looking at switching to a different minifier ([#742](https://github.com/OpenLiberty/openliberty.io/pull/742)) which may resolve this issue.

In the meantime, I suggest changing th

[2021-04-01 20:40] gkwan-ibm commented on #64
close
- test was updated

[2021-04-01 20:40] #64 closed

[2021-06-01 19:45] gkwan-ibm commented on #130
close
- the [guide](https://openliberty.io/guides/microprofile-metrics.html) was updated

[2021-06-01 19:45] #130 closed

[2021-10-18 15:49] dbnex14 opened #159 "Very minimalistic examples are not helpful way to teach"
In general, open liberty documentation is very minimalistic and not very helpful.

For example, it does not make sense to have application accessible at url ttp://localhost:9080/inventory/systems  whereas matrics is accessible from ttp://localhost:9080/metrics

This is what I find very common to open liberty / was liberty documentation.  It is very obscured, minimalistic, not enough for anything r

[2022-04-22 17:02] srl295 commented on #159
`/metrics` is standard for OpenMetrics / Prometheus, and is noted in the spec here: https://github.com/eclipse/microprofile-metrics/releases

[2022-04-22 17:02] srl295 commented on #77
please do this instead.

[2022-04-22 18:06] gkwan-ibm commented on #77
It is a concern that users follow the guide to set authentication="false" that will give a chance for hackers to know the system status. That's why the default is true.

[2022-04-22 18:08] srl295 commented on #77
It's a fine default. Security can be retained by using a reverse proxy, but that is a larger question and responsibility.   For a sample though, http makes sense.

[2022-04-22 19:34] gkwan-ibm commented on #77
I doubt to set authentication="false" always. No matter what, the guide has to talk about authentication.

[2022-08-22 20:02] gkwan-ibm commented on #159
Thank you @srl295  answered why uses `/metrics`.

Also Thank you @dbnex14 to give us feedback. I am closing this issue because your comment relates to docs and not this guide. I suggest you to open an issue at https://github.com/OpenLiberty/docs/issues and provide the detail for which doc need to be improved. Otherwise, the docs will be hard to address too general comment.

[2022-08-22 20:02] #159 closed, assigned to nobody

[2022-11-30 13:06] jakub-pomykala opened #171 "@SimplyTimed annotation will be depreciated in MP-5.0"
Need to remove/replace the `@SimplyTimed` annotation from the guide as it will be depreciated from MP-5.0